@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-regular.woff2") format("woff2"),
       url("../fonts/Roboto-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/InterTight-Regular.woff2") format("woff2"),
       url("../fonts/InterTight-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/InterTight-Medium.woff2") format("woff2"),
       url("../fonts/InterTight-Medium.woff") format("woff");
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
  background-color: #848484;
}

body {
  display: flex;
  flex-direction: column;
  width: 360px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}

.main__container {
  flex-grow: 1;
}

.page__container {
  width: 340px;
  margin: 0 auto;
}

.header__container {
  margin-top: 10px;
  margin-bottom: 35px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}

.navigation__link {
  padding-top: 8px;
  padding-bottom: 7px;
  margin-right: auto;
  cursor: pointer;
}

.navigation__lang {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-width: 68px;
  margin-right: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  color: #fff;
  outline: none;
}

.navigation__button {
  align-self: center;
  padding: 12px 33px 10px 15px;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
}

.navigation__lang-select--close {
  display: none;
}

.navigation__lang::after {
  position: absolute;
  content: '';
  background-image: url('../images/arrow-down-icon.svg');
  background-repeat: no-repeat;
  width: 7px;
  height: 7px;
  top: 19px;
  right: 19px;
  z-index: 1;
}

.navigation__lang-select {
  position: absolute;
  top: -2px;
  left: -2px;
  min-width: 71px;
}

.navigation__lang-list {
  position: relative;
  background-color: #121212;
  list-style: none;
  border-radius: 5px;
  z-index: 2;
}

.navigation__lang-link {
  text-decoration: none;
  color: #fff;
}

.navigation__lang-list__item {
  padding: 12px 35px 10px 15px;
}

.navigation__lang-link--current {
  position: relative;
}

.navigation__lang-link--current::after {
  position: absolute;
  content: '';
  background-image: url('../images/arrow-down-icon.svg');
  background-repeat: no-repeat;
  width: 7px;
  height: 7px;
  rotate: 180deg;
  top: 5px;
  right: -19px;
  z-index: 2;
}

.navigation__lang:hover .navigation__lang-select{
  display: block;

}

.navigation__lang-list__item:hover {
  opacity: 0.7;
  cursor: pointer;
}

.burger {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
}

.burger__wrapper {
  padding: 16px 11px;
}

.burger-menu {
  width: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

.burger-menu .burger-menu__line {
  margin-bottom: 5px;
}

.burger-menu span {
  display: block;
  width: 100%;
  height: 1.5px;
  background-color: #fff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.navigation__modal-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  background-color: rgba(255, 255, 255, 0.15);
  z-index: 6;
}

.navigation__wrapper {
  position: relative;
  width: 330px;
  margin: 0 auto;
  margin-top: 15px;
  min-height: 800px;
}

.navigation__wrapper-another {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  min-height: 770px;
  background-color: #000;
  border: 1px solid #848484;
  border-radius: 5px;
  overflow: hidden;
}

.button__close {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #000;
  border: 1px solid #848484;
  border-radius: 5px;
}

.button__close::before,
.button__close::after {
  position: absolute;
  content: '';
  width: 19px;
  height: 1.5px;
  background-color: #fff;
  top: 18px;
  left: 11px;
}

.button__close::before {
  rotate: 45deg;
}

.button__close::after {
  rotate: -45deg;
}

.navigation__button-close {
  position: absolute;
  right: 0;
  top: 0;
}

.button__navigation {
  margin-top: auto;
  margin-left: 15px;
  margin-bottom: 15px;
}

.button .navigation__button-text {
  padding: 17px 12px;
}

.navigation__wrapper-link {
  width: 250px;
  padding-top: 15px;
  padding-left: 15px;
  background-color: #000;
  color: #fff;
}

.navigation__list {
  list-style: none;
}

.navigation__item:not(:last-child) {
  margin-bottom: 30px;
}

.navigation__link {
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.navigation__modal-container--close {
  display: none;
}

.hero__title {
  width: 297px;
  margin-bottom: 15px;
  font-family: "Inter Tight", "Arial", sans-serif;
  font-size: 40px;
  line-height: 100%;
  font-weight: 400;
}

.hero__text {
  width: 263px;
  line-height: 120%;
  opacity: 70%;
}

.features__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.features {
  margin-top: -9px;
  margin-bottom: 70px;
}

.features__container {
  width: 226px;
  margin: 0 auto;
  margin-top: -49px;

}

.features__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 70%;
}

.features__item {
  position: relative;
  margin-right: 20px;
}

.features__item:not(:last-child)::after{
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  top: 7px;
  right: -12px;
}

.features__text {
  line-height: 120%;
  opacity: 70%;
}

.title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 4px;
  margin-bottom: 21px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 12px;
  line-height: 120%;
}

.about__container {
  margin-bottom: 70px;
}

.about__title {
  margin-bottom: 15px;
}

.about__text {
  margin-bottom: 15px;
  font-family: "Inter Tight", "Arial", sans-serif;
  font-size: 25px;
  line-height: 94%;
  font-weight: 400;
  letter-spacing: -2%;
  text-transform: none;
}

.about__container-text {
  background-image: url('../images/about-img.jpg');
  margin-bottom: 5px;
}

.about__text--another {
  margin-bottom: 15px;
}

.about__text--subtext {
  width: 124px;
  padding-bottom: 191px;
}

.text {
  line-height: 120%;
  opacity: 70%;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.about__item {
  padding: 33px 32px;
  margin-bottom: 2px;
  margin-right: 5px;
  background-color: #121212;
  border-radius: 5px;

}

.about__item:nth-child(3n) {
  margin-right: 0px;
}

.skills__container {
  margin-bottom: 70px;
}

.skills__subtitle {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
  font-size: 12px;
  line-height: 120%;
}

.slider__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider__item {
  display: flex;
  flex-direction: column;
}

.slider__item > img {
  display: block;
  margin: 0 auto;
  margin-bottom: 86px;
}

.current-slider__item {
  display: block;
}

.not-active {
  display: none;
}

.slider__item-continer {
  position: relative;
  padding: 15px;
  padding-right: 21px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  border-top: none;
}

.slider__item-continer::before {
  position: absolute;
  content: "";
  background-image: url("../images/slider-icon.svg");
  width: 340px;
  height: 70px;
  top: -70px;
  left: -1px;
}

.slider__item-continer {
  position: relative;
}

.slider__item-title-container {
  display: flex;
  margin-bottom: 70px;
}

.slider__item-title {
  margin: 0 2px;
  font-family: "Inter Tight", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 94%;
}

.slider__item-title-another {
  margin-bottom: 10px;
  font-family: "Inter Tight", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 94%;
  text-transform: none;
}

.services__container {
  margin-bottom: 70px;
}

.services__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.services__another-title {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 400;
}

.services__list-another {
  padding: 0;
  margin: 0;
  list-style: none;
}

.current-services__item {
  display: block;
}

.services__item-another {
  padding-bottom: 10px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.15);
}

.services__item-another:not(:last-child) {
  margin-bottom: 21px;
}

.services__inner-title {
  margin-bottom: 8px;
  font-weight: 400;
}

.services_text {
  opacity: 56%;
}

.benefits__container {
  margin-bottom: 70px;
}

.benefits__text--another {
  margin-bottom: 15px;
  font-family: "Inter Tight", "Arial", sans-serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -2%;
}

.education__container {
  padding: 25px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.education__title--another {
  margin-bottom: 15px;
  font-family: "Inter Tight", "Arial", sans-serif;
  font-size: 30px;
  line-height: 100%;
  font-weight: 400;
}

.benefits__text:not(:last-of-type) {
 margin-bottom: 10px;
}

.benefits__text:last-of-type{
  margin-bottom: 30px;
 }

.education__list {
  padding: 0;
  margin: 0;
  margin-bottom: 141px;
  list-style: none;
}

.education__item {
  font-size: 12px;
  line-height: 120%;
}

.education__item:not(:last-child) {
  margin-bottom: 8px;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #000;
  border: none;
  outline: none;
  cursor: pointer;
  color: #000;
  font-family: "Inter Tight", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.modal__button {
  margin-bottom: 20px;
}

.button__text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 35px;
  padding-right: 85px;
}

.button__text--form {
  padding: 16px 85px;
}

.button::after{
  position: absolute;
  content: "";
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #000;
  right: 3px;
  top: 3px;
  z-index: 1;
}

.svg__icon-arrow{
  position: absolute;
  right: 18px;
  min-width: 13px;
  min-height: 13px;
  z-index: 2;
}

.button:hover.button::after {
  background-color: #fff;
}

.button:hover .button__icon path {
  fill: none;
  stroke: #D9D9D9;
}

.button:hover .button__text {
  color: #fff;
}

.button:hover .button__icon-arrow path {
  fill: #000;
}

.footer {
  margin-top: 0;
  padding-bottom: 135px;
}

.footer__container {
  text-align: center;
  padding: 70px 27px;
  width: 306px;
  margin: 0 auto;
}

.logo__footer {
  margin-bottom: 50px;
}

.portfolio__text {
  position: relative;
  margin-bottom: 130px;
  font-size: 14px;
  line-height: 120%;
}

.portfolio__text::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 18px;
  background-image: url("../images/footer-arrow.svg");
  background-repeat: no-repeat;
  bottom: -70px;
  left: 120px;
}

.portfolio__list {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  list-style: none;
}

.portfolio__item {
  margin-bottom: 15px;
}

.portfolio__item:last-child {
  margin-bottom: 0;
}

.portfolio__link {
  text-decoration: none;
  color: #fff;
  line-height: 120%;
}

.contacts__list {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  list-style: none;
}

.contacts__item {
  margin-bottom: 15px;
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__link {
  text-decoration: none;
  color: #fff;
  line-height: 120%;
}

.copyright__list {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  list-style: none;
  font-size: 16px;
}

.copyright__item {
  margin-bottom: 15px;
}

.copyright__item:last-child {
  margin-bottom: 0;
}

.copyright__link {
  text-decoration: none;
  color: #fff;
  line-height: 120%;
}

.modal__container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.15);
  z-index: 5;
}

.modal__container-close {
  display: none;
}

.modal {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  margin-top: 11px;
}

.modal__wrapper {
  background-color: #000;
  width: 100%;
  min-height: 700px;
  padding: 15px 20px;
  border-radius: 10px;
}

.button__close-modal {
  min-width: 42px;
  min-height: 42px;
  align-self: flex-end;
  margin-bottom: 5px;
}

.discuss {
  margin-bottom: 20px;
  width: 300px;
  text-align: center;
}

.discuss__title {
  margin-bottom: 10px;
  font-family: "Inter Tight", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: none;
}

.discuss__text {
  text-transform: none;
}

.form__list {
  list-style: none;
  margin-bottom: 10px;
}

.form__label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.form__label--checkbox {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 300px;
  margin-bottom: 10px;
}

.label__mark {
  padding-right: 20px;
  height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 3px;
}

.label__mark::before {
  position: absolute;
  content: '';
}

.form__item:not(:last-child) {
  margin-bottom: 10px;
}

.form__label-text {
  margin-bottom: 10px;
  font-family: "Inter Tight", "Arial", sans-serif;
  text-transform: none;
  font-size: 13px;
}

.form__label-text::placeholder {
  color: rgba(255, 255, 255, 0.20);
}

.form__label-subtext {
  padding-left: 10px;
  font-size: 13px;
  line-height: 140%;
}

.form__label-text--another {
  color: rgba(255, 255, 255, 0.40);
}

.form__field {
  padding: 15px;
  background-color: #000;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  outline: none;
  cursor: pointer;
}

.field__checkbox[type='checkbox']:checked + .label__mark::before {
  position: absolute;
  content: '';
  background-image: url('../images/checkbox-icon.svg');
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  top: 6px;
  left: 6px;
}

.contacts-modal__text {
  margin-bottom: 20px;
  font-family: "Inter Tight", "Arial", sans-serif;
  text-transform: none;
  line-height: 120%;
  text-align: center;
  color: rgba(255, 255, 255, 0.70);
}

.contacts-modal__list {
  list-style: none;
}

.contacts-modal__item {
  width: 300px;
  padding: 15px 0;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  text-align: center;
}

.contacts-modal__item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts-modal__link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 120%;
  color: #fff;
}

.contacts-modal____link--telegram::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  background-image: url('../images/tg-icon.svg');
  background-repeat: no-repeat;
  top: 2px;
  right: -25px;
}

.contacts-modal__link--mail::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  background-image: url('../images/message-icon.svg');
  background-repeat: no-repeat;
  top: 2px;
  right: -25px;
}

.contacts-modal__link--phone::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  background-image: url('../images/phone-icon.svg');
  background-repeat: no-repeat;
  top: 2px;
  right: -25px;
}
