@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-regular.woff2") format("woff2"),
       url("../fonts/Roboto-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/InterTight-Regular.woff2") format("woff2"),
       url("../fonts/InterTight-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/InterTight-Medium.woff2") format("woff2"),
       url("../fonts/InterTight-Medium.woff") format("woff");
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
  background-color: #848484;
}

body {
  display: flex;
  flex-direction: column;
  width: 360px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}

.main__container {
  flex-grow: 1;
}

.page__container {
  width: 340px;
  margin: 0 auto;
}

.header__container {
  margin-top: 10px;
  margin-bottom: 35px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}

.navigation__link {
  padding-top: 8px;
  padding-bottom: 7px;
  margin-right: auto;
  cursor: pointer;
}

.navigation-dropdown__wrapper {
  padding: 12px 15px 9px 15px;
  margin-right: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
}

.navigation-dropdown {
  width: 38px;
}

.burger {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
}

.burger__wrapper {
  padding: 16px 11px;
}

.burger-menu {
  width: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

.burger-menu .burger-menu__line {
  margin-bottom: 5px;
}

.burger-menu span {
  display: block;
  width: 100%;
  height: 1.5px;
  background-color: #fff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hero__title {
  width: 297px;
  margin-bottom: 15px;
  font-family: "Inter Tight", "Arial", sans-serif;
  font-size: 40px;
  line-height: 100%;
  font-weight: 400;
}

.hero__text {
  width: 263px;
  line-height: 120%;
  opacity: 70%;
}

.features__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.features {
  margin-top: -9px;
  margin-bottom: 70px;
}

.features__container {
  width: 226px;
  margin: 0 auto;
  margin-top: -49px;

}

.features__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 70%;
}

.features__item {
  margin-right: 20px;
}

.features__text {
  line-height: 120%;
  opacity: 70%;
}

.title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 4px;
  margin-bottom: 21px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 12px;
  line-height: 120%;
}

.about__container {
  margin-bottom: 70px;
}

.about__title {
  margin-bottom: 15px;
}

.about__text {
  margin-bottom: 15px;
  font-family: "Inter Tight", "Arial", sans-serif;
  font-size: 25px;
  line-height: 94%;
  font-weight: 400;
  letter-spacing: -2%;
  text-transform: none;
}

.about__container-text {
  background-image: url('../images/about-img.jpg');
  margin-bottom: 5px;
}

.about__text--another {
  margin-bottom: 15px;
}

.about__text--subtext {
  width: 124px;
  padding-bottom: 191px;
}

.text {
  line-height: 120%;
  opacity: 70%;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.about__item {
  padding: 33px 32px;
  margin-bottom: 2px;
  background-color: #121212;
  border-radius: 5px;
}

.about__item:not(:last-child) {
  margin-right: 5px;
}

.skills__container {
  margin-bottom: 70px;
}

.skills__subtitle {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
  font-size: 12px;
  line-height: 120%;
}

.slider__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider__item {
  display: flex;
  flex-direction: column;
}

.slider__item img {
  margin-bottom: 86px;
}

.current-slider__item {
  display: block;
}

.not-active {
  display: none;
}

.slider__item-continer {
  padding: 15px;
  padding-right: 21px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  border-top: none;
}

.slider__item-title {
  margin-bottom: 70px;
  font-family: "Inter Tight", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 94%;
}

.slider__item-title-another {
  margin-bottom: 10px;
  font-family: "Inter Tight", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 94%;
  text-transform: none;
}

.services__container {
  margin-bottom: 70px;
}

.services__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.services__another-title {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 400;
}

.services__list-another {
  padding: 0;
  margin: 0;
  list-style: none;
}

.current-services__item {
  display: block;
}

.services__item-another {
  padding-bottom: 10px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.15);
}

.services__item-another:not(:last-child) {
  margin-bottom: 21px;
}

.services__inner-title {
  margin-bottom: 8px;
  font-weight: 400;
}

.services_text {
  opacity: 56%;
}

.benefits__container {
  margin-bottom: 70px;
}

.benefits__text--another {
  margin-bottom: 15px;
  font-family: "Inter Tight", "Arial", sans-serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -2%;
}

.education__container {
  padding: 25px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.education__title--another {
  margin-bottom: 15px;
  font-family: "Inter Tight", "Arial", sans-serif;
  font-size: 30px;
  line-height: 100%;
  font-weight: 400;
}

.benefits__text:not(:last-of-type) {
 margin-bottom: 10px;
}

.benefits__text:last-of-type{
  margin-bottom: 30px;
 }

.education__list {
  padding: 0;
  margin: 0;
  margin-bottom: 141px;
  list-style: none;
}

.education__item {
  font-size: 12px;
  line-height: 120%;
}

.education__item:not(:last-child) {
  margin-bottom: 8px;
}

.education__link {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  font-family: "Inter Tight", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.footer {
  margin-top: 0;
  padding-bottom: 135px;
}

.footer__container {
  text-align: center;
  padding: 70px 27px;
  width: 306px;
  margin: 0 auto;
}

.logo__footer {
  margin-bottom: 50px;
}

.portfolio__text {
  margin-bottom: 130px;
  font-size: 14px;
  line-height: 120%;
}

.portfolio__list {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  list-style: none;
}

.portfolio__item {
  margin-bottom: 15px;
}

.portfolio__item:last-child {
  margin-bottom: 0;
}

.portfolio__link {
  text-decoration: none;
  color: #fff;
  line-height: 120%;
}

.contacts__list {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  list-style: none;
}

.contacts__item {
  margin-bottom: 15px;
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__link {
  text-decoration: none;
  color: #fff;
  line-height: 120%;
}

.copyright__list {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  list-style: none;
  font-size: 16px;
}

.copyright__item {
  margin-bottom: 15px;
}

.copyright__item:last-child {
  margin-bottom: 0;
}

.copyright__link {
  text-decoration: none;
  color: #fff;
  line-height: 120%;
}